ROOT_USER= # Set the email of the user allowed to access the designer (this email will be used to login with google oauth)
API_KEYS= # dictionary of API keys for any LLMs you wish to use in workflows in LiteLLM format e.g. {'openai/gpt-4.1':'YOUR_OPENAI_KEY','gemini/gemini-2.0-flash':'YOUR_GEMINI_KEY'} 